<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav-bar bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/users/logout}" th:method="post">
                            <input class="btn btn-link nav-link a" type="submit" value="Logout"></form>
                    </li>
                    <li class="nav-item " sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link b" style="width: 111%" th:href="@{/administration/part/create}">Add part to Database</a>
                    </li>
                    <li class="nav-item " sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link b" style="width: 120%" th:href="@{/administration/users/all}">All Users</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link b" style="width: 120%" th:href="@{/parts/all}">All parts</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="width: 120%" th:href="@{/parts/cart}">Cart</a>
                    </li>
                    <li class="nav-item a" sec:authorize="isAuthenticated()">
                        <a class="nav-link" style="width: 120%" th:href="@{/users/profile}">Profile</a>
                    </li>
                    <li class="nav-item a" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" style="width: 120%" th:href="@{/administration/orders/all}">Orders</a>
                    </li>
                </th:block>

                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item a">
                        <a class="nav-link a" th:href="@{/users/register}">Register</a>
                    </li>

                    <li class="nav-item a">
                        <a class="nav-link a" th:href="@{/users/login}">Login</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>