<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/header}"/>
    <title>Title</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
    <div>
        <label>Select Shopping Currency</label>
        <select th:onchange="'window.location.href = \'' + '?shoppingCurrency=\' + this.value ' ">
            <option th:each="currency : ${T(me.rumenblajev.bikepartshop.enums.ShoppingCurrencyEnum).values()}"
                    th:text="${currency}"
                    th:selected="${ #strings.equals(param.getOrDefault('shoppingCurrency','BGN'),currency) }"
            ></option>
        </select>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-auto gap-4 justify-content-center">
    <div th:each="part : ${parts}" th:object="${part}">
        <div class="card col" style="top:20px">
            <div class="card-body customized">
                <img th:src="*{pictureUrl}" class="card-img-top w-auto" style="max-width: 10vw; max-height: 10vw; min-width: 200px; min-height: 200px" alt="Part Picture"
                     data-holder-rendered="true">
                <h5 th:text="*{title}" class="card-title" style="font-size: 3vmin; max-width: 20vw"></h5>
                <div class="card-text">
                    <p class="border-bottom sb">Description: <span th:text="*{description}"></span></p>
                    <p class="border-bottom sb">Category: <span th:text="*{category.name.name()}"></span></p>
                    <p class="border-bottom sb">Brand: <span th:text="*{brand}"></span></p>
                    <p class="border-bottom sb">Price (<span th:text="${param.getOrDefault('shoppingCurrency','BGN')} ?: 'BGN'"></span>): <span th:text="*{price}"></span> </p>
                    <p class="border-bottom sb"><td th:text="*{stock} ? 'In Stock' : 'Out Of Stock'"></td></p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn btn-group customized-button">
                        <a th:href="@{/parts/cart/add/{id}(id = *{id})}" th:method="post" type="submit"
                           class="btn btn-sm btn-outline-secondary button-customized"
                           data-bs-target="#addModel">Add To Cart</a>
                    </div>
                </div>
                <div class="btn btn-group customized-button" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/administration/parts/edit/{id}(id = *{id})}" th:method="post" type="submit"
                       class="btn btn-sm btn-outline-secondary button-customized"
                       data-bs-target="#addModel">Edit Part</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:include="~{fragments/footer}"/>
</html>