<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/header}"/>
    <title>Title</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
    <div>
        <select class="user-select-auto" th:onchange="'window.location.href = \'' + '?shoppingCurrency=\' + this.value ' ">
            <option th:value="${param.getOrDefault('shoppingCurrency','BGN')}" selected>Select Shopping Currency</option>
            <option th:each="currency : ${T(me.rumenblajev.bikepartshop.enums.ShoppingCurrencyEnum).values()}"
                    th:text="${currency}"
                    th:selected="${ #strings.equals(param.getOrDefault('shoppingCurrency','BGN'),currency) }"
            ></option>
        </select>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">
        <div class="col" th:each="content : ${cartContent}" th:object="${content}">
            <div class="card box-shadow">
                <img th:src="*{part.pictureUrl}" class="card-img-top" alt="Part Picture"
                     data-holder-rendered="true">
                <div class="card-body">
                    <div class="card-title border-bottom">
                        <label for="title">Part:</label>
                        <input disabled type="text" class="form-control" id="title" th:value="*{part.title}">
                    </div>
                    <div class="card-text">
                        <div class="border-bottom">
                            <label for="price">Price (<span th:text="${param.getOrDefault('shoppingCurrency','BGN')} ?: 'BGN'"></span>) :</label>
                            <input disabled type="number" class="form-control" id="price" th:value="*{part.price}">
                        </div>
                        <div class="border-bottom ">
                            <label for="amount">Amount:</label>
                            <input disabled type="number" class="form-control" min="1" id="amount" th:value="*{amount}"
                                   th:placeholder="*{amount}" autocomplete="off">
                        </div>
                        <div class="btn-group justify-content-center translate-middle-x start-50">
                            <a th:href="@{/parts/cart/remove/{id}(id = *{id})}" class="btn btn-primary" style="top:15px" data-bs-toggle="modal"
                               data-bs-target="#addModel">Remove From Cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pt-5 pb-5 btn-group btn-group-vertical col-md-4 translate-middle-x justify-content-center start-50 gap-2" role="group">
        <a href="/parts/all" class="btn btn-primary rounded"> Continue Shopping</a>
        <a href="/orders/create" class="btn btn-primary rounded"> Create Order</a>
    </div>

</div>

</body>
<th:block th:include="~{fragments/footer}"/>
</html>