<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/header}"/>
    <title>Title</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
    <div>
        <label>Select Shopping Currency</label>
        <select th:onchange="'window.location.href = \'' + '?shoppingCurrency=\' + this.value ' ">
            <option th:each="currency : ${T(me.rumenblajev.bikepartshop.enums.ShoppingCurrencyEnum).values()}"
                    th:text="${currency}"
                    th:selected="${ #strings.equals(param.getOrDefault('shoppingCurrency','BGN'),currency) }"
            ></option>
        </select>
    </div>
</div>
<div class="row">
    <div th:each="content : ${cartContent}" th:object="${content}">
        <div class="card mb-4 box-shadow" style="top:20px">
            <img th:src="*{part.pictureUrl}" class="card-img-top" style="max-width: 10vw;max-height: 10vw" alt="Part Picture"
                 data-holder-rendered="true">
            <div class="card-body custom-style">
                <div class="align-text-bottom">
                    <div class="card-text border-bottom">
                        <label for="title">Part:</label>
                        <input disabled type="text" class="form-control" id="title" th:value="*{part.title}">
                    </div>
                    <div class="card-text border-bottom">
                        <label for="price">Price (<span th:text="${param.getOrDefault('shoppingCurrency','BGN')} ?: 'BGN'"></span>) :</label>
                        <input disabled type="number" class="form-control" id="price" th:value="*{part.price}">
                    </div>
                    <div class="card-text border-bottom ">
                        <label for="amount">Amount:</label>
                        <input disabled type="number" class="form-control" min="1" id="amount" th:value="*{amount}"
                               th:placeholder="*{amount}" autocomplete="off">
                    </div>
                    <div class="btn-group">
                        <a th:href="@{/parts/cart/remove/{id}(id = *{id})}" class="btn btn-primary" style="top:15px" data-bs-toggle="modal"
                           data-bs-target="#addModel">Remove From Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="btn-group" role="group">
        <a href="/parts/all" class="btn btn-primary btn-outline-dark"> Continue Shopping</a>
        <a href="/orders/create" class="btn btn-primary btn-outline-dark"> Create Order</a>
    </div>

</div>
</body>
<th:block th:include="~{fragments/footer}"/>
</html>