<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/header}"/>
    <title>Title</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</div>
</body>
<div class="container-fluid">
    <div class="row row-cols-auto gap-4 justify-content-center">
        <div class="col-lg-4 d-flex align-items-stretch" th:each="order: ${allOrders}">
            <div class="card col" style="top:20px">
                <div class="card-body" th:object="${order}">
                    <h3>Order Number: <span th:text="${order.id}"></span></h3>
                    <p>Client Name:
                        <span th:text="${order.client.firstName}"></span>
                        <span th:text="${order.client.lastName}"></span>
                    </p>
                    <p>Client Username: <span th:text="${order.client.username}"></span></p>
                    <p>Client Phone Number: <span th:text="${order.client.phoneNumber}"></span></p>
                    <p>Client Email: <span th:text="${order.client.email}"></span></p>
                    <p>Date: <span th:text="${order.date}"></span></p>
                    <p>Total Value: <span th:text="${order.totalValue}"></span></p>
                    <div th:each="item : ${order.items}">
                        <div>
                            <div class="align-text-bottom">
                                <div class="border-bottom">
                                    <span th:text="${item.amount}"></span>x <span th:text="${item.part.title}"></span>
                                    <br>
                                    <span th:text="${item.part.price}"></span> BGN Per Unit
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5"></div>
</body>
<th:block th:include="~{fragments/footer}"/>
</html>