<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/header}"/>
    <title>Title</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</div>
<div class="" th:object="${userProfile}">
    <div class="col-md-8  position-absolute top-50 start-50 translate-middle user-card-box user-style card">
        <div class="card mb-3">
            <div class="card-body w-auto text-center">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="mb-0">Your Profile</h4>
                    </div>
                    <div class="col-sm-9">
                        <h4>(@<span th:text="*{username}"></span>)</h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text="*{firstName}"> </span> <span th:text="*{lastName}"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text="*{email}"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Age & Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text="*{age}"></span> | <span th:text="*{gender}"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text="*{phoneNumber}"></span>
                    </div>
                </div>
            </div>
        </div>
</div>
    <th:block th:include="~{fragments/footer}"/>

</body>
</html>